 <div class="box">

<head>
    <title>Gamers</title>
</head>



<div class='body'>
  <div class='container'>
<div class="row">
  <div class='top-message col-md-offset-3 col-md-6'>

<h1>ようこそ<div class="social"><i class="fas fa-book"></i>Gamersへ!!</h1>


<p>Gamersでは様々なゲームの口コミの投稿や閲覧を</p>
<p>見ることができます。</p>


  <div class="btn-wrapper">
      <div class="row">
      <div>
  <div class="btn-wrapper">
      <div class="row">
      <p><a class="btn btn-info col-xs-10 col-xs-offset-1 sign_in" href="/users/sign_in">Log in</a></p>
    </div>
      <div class="row">
      <p><a class="btn btn-success col-xs-10 col-xs-offset-1 sign_up" href="/users/sign_up">Sign Up</a></p>
     </div>
   </div>
 </div>
 </div>

  </body>


  </div>